

<div class="jumbotron">
<h1>You Are New User...</h1>
<h2>You have to... </h2>
<%= link_to "sign up",new_customer_registration_path,class: "btn btn-primary",style: "color:white" %>
or
<%= link_to "log in",new_customer_session_path,class: "btn btn-primary",style: "color:white"  %></div>